body {
    height: 100%;
    background-image: url('../image/bg.jpg');
    background-size: 100vw 100vh;
  }
  .form-register {
    position: relative;
    top: 50%;
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    border: none;
  }
  .form-group {
    margin-bottom: 5px;
  }
  /* form a{
    display: inline-block;
    margin-top:25px;
    font-size: 16px;
    line-height: 10px;
  } */
  form a{
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #007bff;
  }
  .text-success{
    color: #ffffff !important;
  }
  .btn.btn-primary{
    line-height: 25px;
    font-size: 16px;
  }