<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<body>
    
{% block content %}
{% load crispy_forms_tags %}
    <div class="container">
      <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
          <div class="card-body">
            <h1>{% block title %} {{ company.name }} {% endblock title %}</h1>
          </div>
        </div>
        
        <div class="col-md-8 card mb-4  mt-3 ">
          <div class="card-body">
            <!-- comments -->
            <h2>{{ comments.count }} comments</h2>
    
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
              <p class="font-weight-bold">
                {{ comment.name }}
                <span class=" text-muted font-weight-normal">
                  {{ comment.created_on }}
                </span>
              </p>
              {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-8 card mb-4  mt-3 ">
          <div class="card-body">
            {% if new_comment %}
            <div class="alert alert-success" role="alert">
              Thank you for your commenet. Your comment is awaiting approval
            </div>
            {% else %}
            <h3>Leave a comment</h3>
            <form method="post" style="margin-top: 1.3em;">
              {{ comment_form.as_p }}
              {% csrf_token %}
              <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

</body>
