<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<body>
    <h1>Companies</h1>
    {% for one in company_list %}
    <ul>
        <li><a href="/company_details/company/{{one.slug}}">{{ one.name }}</a></li>
    </ul>
    {% endfor %}

    <h1>Comments</h1>
    {% for on in comments_list %}
    <ul>
        <li>{{ on.name }}</a></li>
    </ul>
    {% endfor %}

    <h1>recommend</h1>
    {% for ab in recommend_list %}
    <ul>
        <li>{{ ab.name }}</a></li>
    </ul>
    {% endfor %}

</body>